In [1]:
import pandas as pd

In [2]:
whisky = pd.read_csv('../Data/whisky.csv')

In [6]:
whisky.groupby(['Region','Body'])['Smoky'].mean()

Region           Body
Highland         1       1.200000
                 2       1.700000
                 3       2.000000
                 4       2.000000
Islay & Islands  1       1.500000
                 2       1.750000
                 3       4.000000
                 4       3.750000
Lowland          0       0.000000
                 1       1.000000
Speyside         0       1.000000
                 1       1.000000
                 2       1.190476
                 3       1.333333
                 4       1.666667
Name: Smoky, dtype: float64

In [5]:
whisky.groupby(['Region','Body'])['Winey'].mean()

Region           Body
Highland         1       0.400000
                 2       1.050000
                 3       1.250000
                 4       2.000000
Islay & Islands  1       1.000000
                 2       0.750000
                 3       0.000000
                 4       0.750000
Lowland          0       0.000000
                 1       0.500000
Speyside         0       1.000000
                 1       0.400000
                 2       0.904762
                 3       1.666667
                 4       3.000000
Name: Winey, dtype: float64

In [7]:
whisky.groupby(['Region','Body'])['Fruity'].mean()

Region           Body
Highland         1       2.000000
                 2       1.500000
                 3       2.500000
                 4       2.000000
Islay & Islands  1       2.000000
                 2       1.250000
                 3       1.000000
                 4       1.000000
Lowland          0       3.000000
                 1       2.000000
Speyside         0       1.000000
                 1       1.700000
                 2       2.000000
                 3       2.333333
                 4       2.000000
Name: Fruity, dtype: float64

In [8]:
whisky.groupby(['Region','Body'])['Smoky'].mean().reset_index()

             Region  Body     Smoky
0          Highland     1  1.200000
1          Highland     2  1.700000
2          Highland     3  2.000000
3          Highland     4  2.000000
4   Islay & Islands     1  1.500000
5   Islay & Islands     2  1.750000
6   Islay & Islands     3  4.000000
7   Islay & Islands     4  3.750000
8           Lowland     0  0.000000
9           Lowland     1  1.000000
10         Speyside     0  1.000000
11         Speyside     1  1.000000
12         Speyside     2  1.190476
13         Speyside     3  1.333333
14         Speyside     4  1.666667